<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='js/html_to_json.js') }}" defer></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <a class="login back_button" href="{{ url_for('main') }}">
        <div class="arrow arrow_back">
            <div class="arrow_start arrow_start_back"></div>
            <div class="arrow_end arrow_end_back"></div>
        </div>
    </a>
    <div style="height: 442px;">
    <div class="log_form">
        {% block form %}
        {% endblock %}
    </div>
    </div>
<div class="footer">
    <p class="footer_text">Простите за это</p>
    <p class="footer_text">Мой github, для жалоб: <a href="https://github.com/Hintus" class="orange_text">https://github.com/Hintus</a></p>
    <p class="footer_text">Об ошибках писать сюда: <a href="https://web.telegram.org/a/" class="orange_text">@KhinaEgor</a></p>
</div>
</body>
</html>