{% extends 'log_base.html' %}

{% block head2 %}
<title>Регистрация</title>
{% endblock %}


{% block form %}
<div class="login_header"> Зарегистрируйтесь </div>
<form method="post" action="/auth/register" id="registration-form">
    <div class="login_input_text"> Ваш <span class="orange_text">логин:</span>
        <input class="login_input_login" type="text" name="username" id="username">
    </div>    
    <div class="login_input_text"> Ваш <span class="orange_text">email:</span>
        <input class="login_input_register email_input_register" name="email" id="email">
    </div>
    <div class="login_input_text"> Ваш <span class="orange_text">пароль:</span>
        <input class="login_input_register" type="password" name="password" id="password">
    </div>
    <input style="visibility: hidden; position: absolute;" value="1" name="role_id" id="role_id" >
    <p class="reg_help_text">Если у вас уже есть аккаунт вы можете в него <a class="reg_help_href" href="{{ url_for('login') }}">Войти</a></p>
    <input class="input_submit reg_supmit" type="submit" value="Завершить">
<!--    <button class="input_submit reg_supmit" onclick="submitForm()">Завершить</button>-->
</form>
{% endblock %}